<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
    <%- partial('_common/social', null, {cache: !config.relative_link}) %>
        <div class="copyright">
            power by
            <a href="https://hexo.io" target="_blank">hexo</a>&nbsp;
            <a href="https://github.com/cofess" target="_blank">with hexo-theme-pure </a>
        </div>
</footer>