.post-tags 
  padding 1rem 0 1rem
  display flex
  // flex-direction column
  justify-content space-between
  // div
  //   flex 1
  //   flex-grow 1
  //   flex-shrink 1
  .tag
    a
      white-space nowrap
