<footer id="footer" class="footer">
  <div class="copyright">
    <span><a href="javascript:void(0)"><%= config.author %></a> & <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a> | <a href="/sitemap.xml">Sitemap</a></span>
  </div>
</footer>