<div class="container profile-container">
  <div class="links">
    <% if (theme.links !==undefined) { %>
    <% for (var key in theme.links) { %>
    <a class="link-item" href="<%= theme.links[key] %>">
      <% if(theme.links_text_enable) { %>
      <%= key %>
      <%}%>
        <%if(theme.links_icon_enable){ %>
      <i class="iconfont icon-<%- key.toLowerCase() %>"></i>
      <%}%>
      </a>
    <% } %>
      <% } %>
  </div>
</div>